body{
  border-top: 5px solid #ed5252;
  font-size: 15px;
  font-family: 'Droid Serif', serif;
  color: #545454;
  line-height: 25px;
}


/* STRUCTURE */

#container{
  border-top: 1px solid #e6e6e6;
}

#content{
  width: 760px;
  margin: auto;
}

/* FOOTER */
footer{
  margin-top: 40px;
  padding: 40px 0px;
  text-align: center;
  border-top: 1px solid #e6e6e6;
  font-size: 0.8em;
  color: #858585;
}

footer a{
  color: #5b7f9b;
}

footer a:hover{
  text-decoration: underline;
  color: #157ac6;
}

/* HEADER */

header{
  width: 800px;
  margin: auto;
  height: 80px;
}
#logo{
  width: 87px;
  height: 38px;
  float: left;
  margin-top: 22px;
  background: url(/assets/misc/logo.png) no-repeat;
}
nav{
  padding-top: 25px;
  float: right;
}

nav a{
  font-family: 'Open Sans', sans-serif;
  display: inline-block;
  text-transform: uppercase;
  margin-left: 20px;
  color: #adadad;
  padding-bottom: 1px;
  font-size: 0.8em;
  font-weight: bold;
}
nav .selected{
  color: #e03e3e;
  border-bottom: 3px solid #e03e3e;
}
nav a:hover{
  text-decoration: none;
  color: #e03e3e;
}


/* TEXT STRUCTURE */

h1, h2, h3, h4, h5{
  font-family: 'Open Sans', sans-serif;
  color: #1c1c1c;
}

h4 a{
  color: #1c1c1c;
}
a{
  text-decoration: none;
}

a:hover{
  color: #157ac6;
}

p a:hover{
  text-decoration: underline;
}

a{
  color: #157ac6;
}

p{
  text-align: justify;
  margin-bottom: 20px;
}

.excerpt p{
  margin-bottom: 0px;
}

.footnote, .sidenote{
  margin: 40px 0px;
  color: #858585;
  text-align: right;
  font-size: 0.9em;
  font-style: italic;
}

.image_notes{
  text-align: center;
  color: #858585;
  font-size: 0.9em;
  margin: -5px 0px 15px 0px;
}

h1{
  margin: 60px 0px 20px 0px;
font-size: 1.7em;
line-height: 1.7em;
font-weight: 700;
}

h1 em{
  color: #888;
  font-weight: normal;
  font-size: 0.8em;
}

h2{
  font-size: 1.65em;
  margin: 15px 0px 25px 0px;
}
h3{
  font-size: 1.35em;
  margin-bottom: 20px;
}
h4{
  font-size: 1.2em;
  margin-bottom: 20px;
  font-style: italic;
}

h5{
  font-size: 1.3em;
  margin-bottom: 20px;
}

h5 *{
  color: #545454;
}

em{
  font-style: italic;
}
strong{
  font-weight: bold;
}

blockquote{
  border-left: 3px solid #ddd;
  color: #888;
  margin: 0px 0px 20px 40px;
  font-style: italic;
}

blockquote p{
  margin: 5px 20px !important;
}


/* BLOG  INDEX */
.single-post{
  margin: 60px 0px 0px 0px;
}

.single-post .date{
  float: left;
  width: 170px;
  text-align: right;
  padding: 2px 20px 0px 0px;
  color: #858585;
  font-size: 0.9em;
}
.single-post .excerpt{
  float: right;
  width: 540px;
  border-left: 1px solid #e6e6e6;
  padding-left: 20px;
}


/* BLOG SHOW */

.post img{
  border: 1px solid #e6e6e6;
  padding: 5px;
  margin: 0px 0px 20px 20px;
}
.post ul{
  padding-left: 40px;
  line-height: 25px;
  list-style: circle;
  margin-bottom: 20px;
}
.post li{
  display: list-item;
}

.published span{
  border-top: 1px solid #e6e6e6;
  display: inline-block;
  color: #858585;
  padding-top: 5px;
}
.published{
  text-align: center;
  margin-bottom: 60px;
}

#more{
  border-top: 1px solid #e6e6e6;
  margin-top: 40px;
  padding: 40px 0px;
}

#more-articles{
  margin-bottom: 40px;
}

/* NEWSLETTER */
#newsletter{
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 40px;
  margin-bottom: 40px;
}

#newsletter label{
  display: block;
  text-align: center;
}

#news-cta{
  display: block;
  margin: 20px auto 0px auto;
  text-align: center;
}

#mce-EMAIL{
  padding: 15px 30px;
  border: 1px solid #ed5252;
  width: 300px;
  font-family: 'Droid Serif', serif;
  font-size: 14px;
  border-radius: 5px 0px 0px 5px;
  border-right: 0px;
  box-shadow:none;
  outline: none;
}

#newsletter em{
  font-size: 11px;
  color: #ccc;
  margin-top: 15px;
  display: block;
  text-align: center;
}

#mc-embedded-subscribe{
  border: 1px solid #ed5252;
  background-color: #ed5252;
  color: #fff;
  font-size: 14px;
  font-family: 'Droid Serif', serif;
  padding: 15px 30px;
  border-radius: 0px 5px 5px 0px;
  margin-left: -5px;
  font-weight: bold;
}

#mc-embedded-subscribe:hover{
  background-color: #fff;
  color: #ed5252;
  cursor: pointer;
}

.leave-email{
  color: #ed5252;
}


/* ABOUT PAGE */

#about, #me{
  margin-top: 60px;
}

#about{
  width: 510px;
}

#links{
  float: right;
  width: 200px;
  text-align: center;
}

#links a{
  display: block;
}

#links img{
  border-radius: 50%;
}

.me-wrapper{
  padding-bottom: 5;
  margin-bottom: 5px;
  border-bottom: 1px solid #e6e6e6;
}

#design-by{
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid #e6e6e6;
}

.drivy{
  color: #e92464;
}


/* HIRE */

#hire{
  margin-top: 60px;
}

#hire ul{
  padding-left: 40px;
  line-height: 25px;
  list-style: circle;
  margin-bottom: 20px;
}

#hire li{
  display: list-item;
}

.review{
  width: 200px;
  float: left;
  padding: 5px;
  margin: 20px;
}

#reviews{
  margin-bottom: 20px;
}

.person{
  text-align: center;
  font-weight: bold;
}
.position{
  text-align: center;
  font-size: 0.8em;
}
.review-body{
  margin-top: 10px;
  text-align: justify;
}

#references_logo{
  text-align: center;
  margin-bottom: 20px;
}

/* CLEARFIX */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

header .logo a, header .logo a:hover {
  color: black;
  text-decoration: none;
}

.logo a.fname {
  font-weight: bold;
}

.logo small a {
  font-weight: 400;
}

.logo .name {
  display: inline-block;
}

header .logo {
  padding-top: 1em;
} 

.fancy, section, article {
  font-family: "proxima-nova", Helvetica, Arial, sans-serif;
  line-height: 170%;
}

article {
  font-size: 18px;
}

.portfolio-nav {
  text-align: center;
  list-style-type: none;
  margin: 3em 0 2em 0;
}

.portfolio-nav li {
  display: inline-block;
  border: 1px solid #255b96;
  border-right-width: 0;
}

.portfolio-nav .active {
  background-color: #3073b3;
}

.portfolio-nav .active a {
  color: white;
}

.portfolio-nav li a {
  width: 5em;
  padding: 0.7em 0.4em;
  display: inline-block;
  text-decoration: none;
}

.portfolio-nav li:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.portfolio-nav li:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-right-width: 1px;
}

.pull-right { float: right; }
.pull-left { float: left; }
.clear { clear: both; }
.center { text-align: center !important; }
.right { text-align: right; }
.spacer {
  border-top: 1px solid #E6E6E6;
  margin: 3em auto;
}
.without-border {
  border: none;
}

.inner, pre code, .post > * {
  max-width: 760px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  width: 100%;
  display: block;
}

img.inline.pull-right {
  margin-left: 1em;
}

img {
  max-width: 100%;
}
