---
layout: default
---

<div class="inner">

  <h1>Portfolio</h1>

  <p class="fancy">
  </p>

  <ul class="portfolio-nav">
    <li {% if page.url == '/portfolio/' %}class="active"{% endif %}>
      <a href="/portfolio">Products</a>
    </li><li {% if page.url == '/portfolio/code' %}class="active"{% endif %}>
      <a href="/portfolio/code">Code</a>
    </li>
  </ul>

  {{ content }}

  <!-- <div class="fancy center convinced"> -->
  <!--   Interested? Here's my <a href="https://github.com/accessd">Github</a> and <a href="https://github.com/accessd/resume/raw/master/resume.pdf">resume</a>. -->
  <!-- </div> -->

</div>
