---
layout: default
---
<link href="/assets/css/social-likes_birman.css" rel="stylesheet">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="/assets/js/social-likes.min.js"></script>
<h1>
  <span>
    {% if page.titlehtml %}
      {{ page.titlehtml }}
    {% else %}
      {{ page.title }}
    {% endif %}
    </span>
</h1>

<div class="published">
  <span>{{ page.date | date_to_long_string }}</span>
</div>

<div class="post">
  {{ content }}

  <div id="more">
    {% assign has_res=false %}
    {% capture res %}
      {% for post in site.posts %}
        {% if post.blog == true and post.tag == page.tag and page.title != post.title%}
          {% assign has_res=true %}
          <li><a href="{{ BASE_PATH }}{{ post.url}}">{{post.title}}</a></li>
        {% endif %}
      {% endfor %}
    {% endcapture %}

    <div id="more-articles">
      {% if has_res %}
        <p>Since you scrolled this far, you might as well take a look at some other things I wrote !</p>
        <ul>
          {{ res }}
        </ul>
        <p>
          ... or <a href="/blog">some other article</a> from my blog.
        </p>
      {% else %}
      <p>
        If you liked this, feel free to <a href="/blog">browse other articles on my blog</a>.
      </p>
      {% endif %}
    </div>

<div class="social-likes">
	<div class="facebook" title="Share link on Facebook">Facebook</div>
	<div class="twitter" title="Share link on Twitter">Twitter</div>
</div>

  <div id="disqus_thread"></div>
    <script type="text/javascript" style="display: none;">
        var disqus_shortname = 'accessd';
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</div>

